<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>946141681323-m67uo28uma79hujrujgbjdft72dkb7ej.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.946141681323-m67uo28uma79hujrujgbjdft72dkb7ej</string>
	<key>API_KEY</key>
	<string>AIzaSyBNt4nwJX7NQHjnCcH-2cIybRM3VNzgKDY</string>
	<key>GCM_SENDER_ID</key>
	<string>946141681323</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebaseLogin</string>
	<key>PROJECT_ID</key>
	<string>flutterfirebasetemplatesapps</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterfirebasetemplatesapps.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:946141681323:ios:3a5e20c8f87d455e7a09ee</string>
</dict>
</plist>